.react-visual-editor-block {
  position: absolute;
  user-select: none;
}
.react-visual-editor-block:after {
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}
.react-visual-editor-block-focus::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  bottom: -4px;
  right: -4px;
  border: dashed 1px #409eff;
}
