/* @headSize: 60px; // 编辑器头部的高度
@menuSize: 275px; // 编辑器菜单高度
@operatorSize: 275px; // 右侧操作栏宽度

@ibc: #dcdfe6; // 边框色
@ibl: #ebeef5; // 边框色（轻）
@itc: #314659; // 字体颜色
@icc:rgba (0,0,0,0.45); // 图标颜色
@boxShadowColor: #f0f1f2; // 阴影颜色
@primary: #409eff ;// 基础色 */

.react-visual-editor {
  position: fixed;
  top: 20px;
  left: 20px;
  bottom: 20px;
  right: 20px;
  background: white;
}
.react-visual-editor:before {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  background-color: rgba(0, 0, 0, 0.1);
}
.react-visual-editor-menu,
.react-visual-editor-head,
.react-visual-editor-operator,
.react-visual-editor-body {
  position: absolute;
}
.react-visual-editor-menu {
  top: 0;
  left: 0;
  bottom: 0;
  width: 275px;
  background-color: white;
  padding: 20px;
  box-sizing: border-box;
  border-right: 1px solid #dcdfe6;
}
.react-visual-editor-head {
  top: 0;
  left: 275px;
  right: 275px;
  height: 60px;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}
.react-visual-editor-operator {
  top: 0;
  right: 0;
  bottom: 0;
  width: 275px;
  background-color: white;
  border-left: 1px solid #dcdfe6;
}
.react-visual-editor-body {
  top: 0;
  left: 275px;
  right: 275px;
  box-sizing: border-box;
  padding-top: 60px;
  padding-bottom: 300px;
  bottom: 0;
  background-color: #f6f6f6;
  overflow: auto;
  display: flex;
  justify-content: center;
}
.react-visual-editor-menu-item {
  border: solid 2px #dcdfe6;
  margin-bottom: 20px;
  position: relative;
  padding: 40px 16px 20px;
  text-align: center;
}
.react-visual-editor-menu-item:after {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: "";
}
.react-visual-editor-menu-item:hover {
  border-color: #409eff;
}
.react-visual-editor-menu-item-name {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #409eff;
  color: white;
  top: -2px;
  left: -2px;
  font-size: 12px;
  line-height: 2em;
  padding: 0 20px;
}
.react-visual-editor-container {
  background-color: white;
  position: relative;
}
.react-visual-editor-container::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 1px dashed #409eff;
  pointer-events: none;
}
.react-visual-editor-head-btn {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  padding: 3px 12px;
  align-items: center;
  position: relative;
  transition: background-color linear 0.1s;
  cursor: pointer;
  user-select: none;
}
.react-visual-editor-head-btn span {
  font-size: 12px;
}
.react-visual-editor-head-btn:not(:last-child)::after {
  position: absolute;
  right: -0.5px;
  top: 0;
  bottom: 0;
  width: 1px;
  content: "";
  background: rgba(255, 255, 255, 0.5);
}
.react-visual-editor-head-btn:hover {
  color: #409eff;
  background-color: white;
}
.react-visual-editor-head-btn:active {
  background-color: #ddf8ff;
}
.react-visual-editor-preview
  .react-visual-editor-body
  .react-visual-editor-container
  .react-visual-editor-block::after {
  display: none;
}
.react-visual-editor-preview
  .react-visual-editor-body
  .react-visual-editor-container
  .react-visual-editor-block {
  user-select: auto;
}
.react-visual-editor-preview
  .react-visual-editor-body
  .react-visual-editor-container::before {
  display: none;
}

.react-visual-editor-mark-x,
.react-visual-editor-mark-y {
  position: absolute;
}
.react-visual-editor-mark-y {
  left: 0;
  right: 0;
  top: 20px;
  border-top: dashed 1px #409eff;
}
.react-visual-editor-mark-x {
  bottom: 0;
  left: 20px;
  top: 0;
  border-left: dashed 1px #409eff;
}
.react-visual-block-resize {
  position: absolute;
}
.react-visual-block-resize::after {
  content: "";
  position: absolute;
  left: -5px;
  top: -5px;
  right: -5px;
  bottom: -5px;
}
.react-visual-block-resize-top-left,
.react-visual-block-resize-top,
.react-visual-block-resize-top-right,
.react-visual-block-resize-left,
.react-visual-block-resize-right,
.react-visual-block-resize-bottom-left,
.react-visual-block-resize-bottom,
.react-visual-block-resize-bottom-right {
  top: -8px;
  left: -8px;
  right: -8px;
  bottom: -8px;
  height: 6px;
  width: 6px;
  background-color: #409eff;
}
.react-visual-block-resize-top-left {
  right: auto;
  bottom: auto;
  cursor: nw-resize;
}
.react-visual-block-resize-top {
  left: calc(50% - 3px);
  right: auto;
  bottom: auto;
  cursor: n-resize;
}
.react-visual-block-resize-top-right {
  left: auto;
  bottom: auto;
  cursor: ne-resize;
}
.react-visual-block-resize-left {
  top: calc(50% - 3px);
  right: auto;
  bottom: auto;
  cursor: w-resize;
}
.react-visual-block-resize-right {
  top: calc(50% - 3px);
  left: auto;
  bottom: auto;
  cursor: e-resize;
}
.react-visual-block-resize-bottom-left {
  right: auto;
  top: auto;
  cursor: sw-resize;
}
.react-visual-block-resize-bottom {
  left: calc(50% - 3px);
  right: auto;
  top: auto;
  cursor: s-resize;
}
.react-visual-block-resize-bottom-right {
  left: auto;
  top: auto;
  cursor: se-resize;
}
